@import "../../shared/variables.scss";

.Inputbar {
  background: #ffffff;
  border: 1px solid $clr-mercury;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  font-family: inherit;

  &:focus {
    border: 1px solid $clr-mineShaft;
    outline: none;
  }
}

/* clears the ‘X’ from Internet Explorer */

input[type="search"] {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
    -webkit-appearance: none;
  }
}
