.Button {
  background-color: #673ab7;
  border-radius: 4px;
  font-weight: 600;
  color: #ffffff;
  border: none;
  outline: none;
  white-space: nowrap;
}

.Button:hover {
  background-color: #4f2c8e;
  cursor: pointer;
}

.Button:active {
  background-color: #351e61;
}

.Button > i {
  margin-right: 8px;
}

.Big {
  padding: 12px 16px;
}

/* Maybe only have big or medium */

.Medium {
  padding: 8px 16px;
}

.Small {
  padding: 4px 8px;
  font-size: 14px;
}
