.CardBody {
  max-height: 0;
  overflow: hidden;

  /* transition: max-height 0.175s ease-out; */
  transition: 0.175s ease-out;
  opacity: 0;

  > :first-child {
    margin-top: 8px;
  }
}

.CardBodyOpen {
  overflow: initial;
  opacity: 1;
}

.CardBody img {
  width: 100%;
}
