@import "../../../shared/variables.scss";

.HeaderBar {
  display: flex;
  justify-content: space-between;
}

.Logo {
  margin-bottom: 48px;
}

.Tabs {
  width: 100%;
}

.TabDivider {
  margin-top: 8px;
}

.CardToolbar {
  display: flex;
  margin-bottom: 16px;
  position: relative;

  button {
    flex-grow: 1;
  }

  input,
  button {
    display: inline-block;
  }

  input {
    flex-grow: 2;
    margin-right: 8px;
    text-indent: 24px;
    &:focus + .SearchIcon {
      color: $clr-boulder;
    }
  }

  .SearchIcon {
    position: absolute;
    left: 16px;
    top: 16px;
    color: $clr-silverChalice;
  }
}
.ModalContent {
  h4 {
    margin-top: 8px;
  }
  .ModalContentText {
    margin-bottom: 8px;
  }

  .ModalButtons {
    margin-top: 16px;

    :first-child {
      margin-right: 4px;
    }

    :last-child {
      margin-left: 4px;
    }
  }
}

@media screen and (max-width: 960px) {
  .CardToolbar {
    flex-direction: column;

    > input {
      margin-bottom: 8px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 501px) {
  .Logo {
    display: none;
  }
}
