@import "../../../shared/variables.scss";

.Card {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
  background-color: white;
  position: relative;
  border: 1px solid transparent;

  > h4 {
    margin-bottom: 0px;
  }
}

.CardClosedIcon {
  transition: transform 0.3s;
  transform: rotate(0deg);
}

.CardOpenIcon {
  transition: transform 0.3s;
  transform: rotate(-180deg);
}

.Chapter {
  cursor: pointer;

  &:hover {
    h4 {
      color: $clr-primary;
    }
  }
}

.NormalCursor {
  cursor: auto;
}

.ActiveCard {
  border: 1px solid $clr-primary;
}
