@import "../../shared/variables.scss";

.CardSubtitle {
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  color: $clr-boulder;
}

.CardHeader {
  width: calc(100% - 30px);
}

img {
  margin: 12px 0;
}

.ChevronContainer {
  color: $clr-tertiary;

  &:hover {
    color: $clr-tertiary-hover;
  }

  &:active {
    color: $clr-tertiary-active;
  }
}