@import "../../../../shared/variables.scss";

.CardItemEditorWarningContainer {
  background-color: $clr-warning;
  color: white;
  font-weight: bold;
  margin: 0 -17px;
  padding: 4px 16px;
  opacity: 1;
  transition: opacity 0.1s ease-out;

  i {
    margin-right: 8px;
  }
}

.Deleted {
  opacity: 0;
}

.AdventureNameModal {
  position: absolute;
  bottom: 0;
  border-radius: 0 0 4px 4px;
}