@import "../../../../shared/variables.scss";

.EditorHeaderContainer {
  background-color: $clr-snuff;
  padding: 4px;
  display: flex;
  justify-content: space-between;
}

.EditorHeader {
  font-weight: bold;
  margin-left: 4px;
}
