@import "../../shared/variables.scss";
.CardHeaderContainer {
  display: flex;
  justify-content: space-between;

  h4 {
    margin-bottom: 0;
  }
}

.MentionTokenBar {
  :first-child {
    margin-left: 0;
  }
}

.MentionTokenContainer {
  margin-left: 8px;
  margin-top: 8px;
  display: inline-block;

  div {
    margin-left: -14px;
  }

  &:empty {
    margin-top: 0;
    display: none;
  }
}