// COLORS

//purples
$clr-magnolia: #f9f8ff;
$clr-snuff: #e1d8f1;
$clr-bilobaFlower: #c3abee;
$clr-purpleHeart: #673ab7;
$clr-minsk: #4f2c8e;
$clr-grape: #351e61;

//greys
$clr-mercury: #e5e5e5;
$clr-silver: #cccccc;
$clr-nobel: #b7b7b7;
$clr-silverChalice: #a3a3a3;
$clr-dustyGray: #9b9b9b;
$clr-boulder: #777777;
$clr-mineShaft: #222222;

//mentionColors
$clr-dodgerBlue: #2196f3;
$clr-hawkesBlue: #d3eafd;
$clr-pomegranate: #f44336;
$clr-cinderella: #fdd9d7;
$clr-fruitSalad: #4caf50;
$clr-zanah: #dbefdc;

//warning
$clr-zest: #e67e22;

// Buttons
$clr-primary: $clr-purpleHeart;
$clr-primary-hover: $clr-minsk;
$clr-primary-active: $clr-grape;

$clr-secondary-bg: $clr-silver;
$clr-secondary-txt: $clr-boulder;
$clr-secondary-hover: $clr-nobel;
$clr-secondary-active: $clr-silverChalice;

$clr-tertiary: $clr-dustyGray;
$clr-tertiary-hover: $clr-boulder;
$clr-tertiary-active: $clr-mineShaft;

// Tokens
$clr-npc: $clr-dodgerBlue;
$clr-monster: $clr-pomegranate;
$clr-location: $clr-fruitSalad;

// functional
$clr-warning: $clr-zest;
$clr-border: $clr-snuff;
