@import "../../shared/variables.scss";

.AdventureWrapper {
  width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.ContentWrapper {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  min-height: 100vh;
}

.WrapperLeft {
  padding-right: 32px;
  padding-top: 16px;
}

.WrapperRightBlock {
  background-color: white;
  border: 1px solid $clr-border;
  border-top: none;
  height: 100%;
  position: fixed;
  max-width: 720px;
}

@media screen and (max-width: 1480px) {
  .AdventureWrapper {
    width: 90%;
  }
}

.SetLeftOffscreen,
.SetRightOffscreen,
.SetRightOnscreen,
.SetLeftOnscreen {
  transform: initial;
  transition: transform 0.175s ease-out;
}

@media screen and (max-width: 501px) {
  .AdventureWrapper {
    width: 100%;
    height: 100vh;
    padding-top: 43px;
    position: relative;
    overflow-x: hidden;
  }

  .ContentWrapper {
    min-height: unset;
  }

  .WrapperLeft {
    width: 100%;
    position: absolute;
    padding: 16px;
    transform: translateX(0);
    transition: transform 0.5s;
  }

  .WrapperRightBlock {
    width: 100%;
    height: unset;
    position: absolute;
    transform: translateX(100%);
    transition: transform 0.5s;
  }

  .MoveLeft {
    transform: translateX(-100%);
  }

  .MoveBack {
    transform: translateX(0);
  }

  .MoveRight {
    transform: translateX(100%);
  }

  .Logo {
    width: 111px;
    height: 18px;
  }
}
