.AdventureWrapper {
  width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.ContentWrapper {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  min-height: 100vh;
}

.WrapperLeft {
  padding-right: 32px;
  padding-top: 96px;
}

.WrapperRightBlock {
  background-color: white;
  border: 1px solid #e1d8f1;
  border-top: none;
  height: 100%;
}

@media screen and (max-width: 1480px) {
  .AdventureWrapper {
    width: 90%;
  }
}
