@import "../../shared/variables.scss";

.Tab {
  background-color: $clr-mercury;
  // color: #9b9b9b;
  color: $clr-secondary-txt;
  font-weight: 700;
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.Tab:hover {
  background-color: $clr-dustyGray;
  color: $clr-mercury;
}

.Tab:active {
  background-color: $clr-boulder;
  color: $clr-mercury;
}

.ActiveTab {
  background-color: $clr-snuff;
  border: 1px solid $clr-primary;
  color: $clr-primary;
}

.ActiveTab:hover,
.ActiveTab:active {
  background-color: $clr-bilobaFlower;
  border: 1px solid $clr-primary-active;
  color: $clr-primary-active;
}
