.dndmention {
  background-color: unset;
  color: #673ab7;
  font-weight: bold;
  cursor: pointer;
}

.dndmention:hover {
  color: #351e61;
}

.disabled {
  background-color: #e5e5e5;
}

.disabled > div {
  line-height: 10px;
  font-size: 14px;
  font-weight: bold;
  margin: 0 -12px;
  padding: 8px 0;
}

.ql-editor {
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.WrapperRightContent {
  padding: 32px;
  padding-bottom: 0;
  height: calc(100vh - (40px + 38px));
  overflow-y: auto;
}

.WrapperRightContent .ql-editor {
  min-height: 85vh;
}

.ql-editor h1 {
  font-size: 2em;
}

.ql-editor h2 {
  font-size: 1.5em;
}

.ql-editor h3 {
  font-size: 1em;
  font-weight: bold;
}

.ql-mention-list-item {
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1.5;
  overflow-wrap: break-word;
}

.ql-mention-list-item.selected {
  background-color: #e1d8f1;
}

.ql-mention-list-item.disabled {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
  color: #777;
  background-color: #e5e5e5;
}
