.mention {
  background-color: unset;
}

.quill {
  /* height: 100%; */
}

.ql-container {
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.ql-editor {
  padding: 0;
  overflow-y: auto;
  min-height: 85vh;
}

/* Removes placeholder whitespace  */
.ql-editor.ql-blank::before {
  left: 0;
}

.ql-container.ql-snow {
  border: none;
}

#toolbar {
  border: none;
  background-color: #e5e5e5;
}
