@import "../../../shared/variables.scss";

.dndmention {
  background-color: unset;
  color: $clr-primary;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: $clr-primary-hover;
  }
}

.disabled {
  background-color: $clr-mercury;

  > div {
    line-height: 10px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 -12px;
    padding: 8px 0;
  }
}

.ql-editor {
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
    font-weight: bold;
  }
}

.WrapperRightContent {
  padding: 32px;
  padding-bottom: 0;
  height: calc(100vh - (40px + 38px));
  overflow-y: auto;

  .ql-editor {
    min-height: 85vh;
  }
}

.ql-mention-list {
  max-height: 400px;
  overflow-y: scroll;
}

.ql-mention-list-item {
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1.5;
  white-space: pre-line;
  overflow-wrap: break-word;
}

.ql-mention-list-item.selected {
  background-color: $clr-snuff;
}

.ql-mention-list-item.disabled {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
  color: $clr-secondary-txt;
  background-color: $clr-mercury;
}

@media screen and (max-width: 420px) {
  .WrapperRightContent {
    height: calc(100vh - 121px);
    padding: 16px;
    .ql-editor {
      min-height: 79vh;
    }
  }
}
