.dndmention {
  background-color: unset;
  color: #673ab7;
  font-weight: bold;
  cursor: pointer;
}

.dndmention:hover {
  color: #351e61;
}

.disabled {
  background-color: #e5e5e5;
}

.disabled > div {
  line-height: 10px;
  font-size: 14px;
  font-weight: bold;
  margin: 0 -12px;
  padding: 8px 0;
}

.ql-editor {
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.WrapperRightContent {
  padding: 32px;
  padding-bottom: 0;
  height: calc(100vh - (40px + 38px));
  overflow-y: auto;
}

.WrapperRightContent .ql-editor {
  /* padding: 0; */
  /* overflow-y: auto; */
  min-height: 85vh;
  /* height: calc(100vh - (32px + 40px + 38px)); */
}

.ql-editor h1 {
  font-size: 2em;
}

.ql-editor h2 {
  font-size: 1.5em;
}

.ql-editor h3 {
  font-size: 1em;
  font-weight: bold;
}
