@import "../../../shared/variables.scss";

.CardHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow-wrap: break-word;

  &:hover {
    h4 {
      color: $clr-primary;
    }

    i {
      color: $clr-primary;
    }
  }
}
