.CardHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow-wrap: break-word;
}

.CardHeaderContainer:hover h4,
.CardHeaderContainer:hover i {
  color: #673ab7;
}
