@import "../../../../shared/variables.scss";

.ql-snow {
  &.ql-toolbar button,
  .ql-toolbar button {
    font-size: 14px;
  }
}

.ToolbarCardItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -17px -17px -17px;
  border-radius: 0 0 4px 4px;
  background-color: $clr-mercury;
  padding-right: 4px;
}

.ButtonsContainer button:last-child {
  margin-left: 4px;
}

.ChapterButtonContainer {
  padding: 8px;
}
